@import "tailwindcss";


body{
    background-color: aliceblue;
  
  }
  
  .black-overlay{
    background-color:rgba(140, 140, 140, 0.415)
  }
.image-overlayer {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0) 60%, rgba(0,0,0,1));
}
